.Rproj.user
.Rhistory
.RData
.Ruserdata
NTNU Presentation.Rmd
Oppgave før jobbintervju.pdf
NTNU_presentation_test2.Rmd
NTNU-Presentation.Rmd
re-beamer/pressure-1.pdf
NTNU_Statistics.Rproj
NTNU_presentation_test2.pdf
NTNU-Presentation_files/figure-beamer/pressure-1.pdf
Script.R
